# Файлы с конфиденциальными данными (токены, ключи API)
config.py
.env
*.key
*.pem

# Директория виртуального окружения (если используете)
venv/
env/
.my_venv/

# Кэш Python
__pycache__/
*.pyc

# Логи (если ваш бот их создает)
logs/
*.log

# Файлы IDE (например, PyCharm)
.idea/
.vscode/